<h2>Yahoo! Weather </h2>
<div class="col-md-8 col-md-offset-2">
 <div class="form-group">
  <input type="text" [(ngModel)]="id_city" class="form-control" placeholder="Enter City..."><br>
  <input type="text" [(ngModel)]="id_state" class="form-control" placeholder="Enter State..."><br>
  <button type="button" class="btn btn-primary" (click)="callWeatherService()">Submit</button>
  <br><br><br>
  <br>
  <p class="well lead">
    <span><img src="http://us.yimg.com/i/us/nws/weather/gr/{{this.op_code}}ds.png"><br></span>
    <i><b>City, State, Country</b> :</i> {{ this.op_city }} {{ this.op_region }} {{ this.op_country }} <br>
    <i><b>Current Condition</b> :</i> {{ this.op_text }} <br>
    <i><b>Current Temperature</b> :</i> {{ this.op_temp }} <br>
  </p>
  <!--<p class="text-info">Total # of all the service requests including Weather, Movie, and Currency is :
    <span class="badge">{{this._sharedService.totReqsMade}}</span>
  </p>-->
 </div>
</div>
