<h2>Movie Database</h2>
<div class="col-md-8 col-md-offset-2">
  <div class="form-group">
    <input type="text" required [(ngModel)]="id_movie" (change)="callMovieService()" class="form-control" placeholder="Enter Movie name ...">
    <br><br>
    <h3>Movie Details</h3>
    <br>
    <div class="img">
      <img src="{{ this.mv_PosterUrl }}">
    </div>
    <div class="details">
      <p class="well lead">
        <i><b> Title</b> :</i> {{ this.mv_Title }} <br>
        <i><b> Plot</b> :</i> {{ this.mv_Plot }} <br>
        <i><b> Actors</b> :</i> {{ this.mv_Actors }} <br>
        <i><b> Directed by</b> :</i> {{ this.mv_Director }} <br>
        <i><b> Rated</b> :</i> {{ this.mv_Rated }} <br>
        <i><b> Release Date</b> :</i> {{ this.mv_Released }} <br>
      </p>
    </div>

  <!--<p class="text-info">Total # of all the service requests including Weather, Movie, and Currency is :
      <span class="badge">{{this._sharedService.totReqsMade}}</span>
  </p>-->
  </div>
</div>
